@charset "UTF-8";
/* line 5, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/jason/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 26, sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 30, sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 34, sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 38, sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 42, sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 46, sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 50, sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none;
}
/* line 55, sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 59, sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 65, sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 73, sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 79, sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 86, sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 90, sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477DCA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, sass/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0;
}

/* line 20, sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, sass/_partials/_sticky-header.scss */
.menu {
  background: #00a;
  color: #fff;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  width: 100%;
}

/* line 2, sass/_partials/_sticky-header.scss */
.menu-padding {
  padding-top: 40px;
}

/* line 3, sass/_partials/_navigation.scss */
header.navigation {
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #1a1a1a;
  width: 100%;
  z-index: 999;
  position: fixed;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 26, sass/_partials/_navigation.scss */
header.navigation .navigation-wrapper {
  width: 100%;
  position: relative;
  z-index: 9999;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 33, sass/_partials/_navigation.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 39, sass/_partials/_navigation.scss */
header.navigation .logo img {
  max-height: 60px;
  padding: 0.8em 0;
}
/* line 47, sass/_partials/_navigation.scss */
header.navigation .navigation-menu-button {
  color: white;
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 47, sass/_partials/_navigation.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 62, sass/_partials/_navigation.scss */
header.navigation .navigation-menu-button:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 69, sass/_partials/_navigation.scss */
header.navigation .nav {
  z-index: 9999999;
  float: none;
  text-align: right;
  margin-top: 3px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
/* line 85, sass/neat/grid/_span-columns.scss */
header.navigation .nav:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 69, sass/_partials/_navigation.scss */
  header.navigation .nav {
    float: left;
  }
}
/* line 80, sass/_partials/_navigation.scss */
header.navigation ul#menu-primary {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 80, sass/_partials/_navigation.scss */
  header.navigation ul#menu-primary {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 99, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link {
  background: #333;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: .8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 99, sass/_partials/_navigation.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}
/* line 117, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link a {
  color: white;
  display: inline-block;
  font-weight: 400;
}
@media screen and (min-width: 53.75em) {
  /* line 117, sass/_partials/_navigation.scss */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 126, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 132, sass/_partials/_navigation.scss */
header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}
/* line 139, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 139, sass/_partials/_navigation.scss */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 146, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 150, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 154, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 158, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: white;
}
/* line 165, sass/_partials/_navigation.scss */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 169, sass/_partials/_navigation.scss */
header.navigation li.more a {
  padding-right: .8em;
}
/* line 173, sass/_partials/_navigation.scss */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 173, sass/_partials/_navigation.scss */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 181, sass/_partials/_navigation.scss */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 189, sass/_partials/_navigation.scss */
header.navigation li.more:hover > .sub-menu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 165, sass/_partials/_navigation.scss */
  header.navigation li.more {
    padding-right: .8em;
    position: relative;
  }
}
/* line 199, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 199, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 209, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu .sub-menu {
    left: 11.8em;
    top: 0;
  }
}
/* line 216, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 216, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li {
    line-height: 46.15385px;
  }
  /* line 223, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 228, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}
/* line 235, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu li a {
  background-color: #2b2b2b;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 235, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li a {
    background-color: #333;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 253, sass/_partials/_navigation.scss */
header.navigation .navigation-tools {
  display: block;
  padding-right: 1em;
  padding-left: 0.5em;
  clear: both;
  background: #505050;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-tools:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75em) {
  /* line 253, sass/_partials/_navigation.scss */
  header.navigation .navigation-tools {
    background: transparent;
    float: right;
    clear: none;
  }
}
/* line 268, sass/_partials/_navigation.scss */
header.navigation a.sign-up {
  margin-top: 1.2em;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline;
  background: #477DCA;
  border-radius: 3px;
  color: white;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  padding: .4em .5em;
}
@media screen and (min-width: 53.75em) {
  /* line 268, sass/_partials/_navigation.scss */
  header.navigation a.sign-up {
    padding: .5em 1em;
  }
}
/* line 285, sass/_partials/_navigation.scss */
header.navigation a.sign-up:hover {
  background: #6f99d5;
}
/* line 292, sass/_partials/_navigation.scss */
header.navigation .search-bar {
  padding: .85em .6em;
  float: left;
}
/* line 299, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit {
  position: relative;
}
/* line 302, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit input[type=search] {
  background: #404040;
  border: 1px solid #262626;
  padding: .6em .8em;
  font-size: .9em;
  font-style: italic;
  color: white;
  border-radius: 6px;
  margin: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 302, sass/_partials/_navigation.scss */
  header.navigation .search-bar .search-and-submit input[type=search] {
    width: 100%;
  }
}
/* line 317, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] {
  border: 1px solid #363636;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 gray;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #595959;
  background-image: -webkit-linear-gradient(#595959, #3d3d3d);
  background-image: linear-gradient(#595959, #3d3d3d);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2b2b2b;
  background-clip: padding-box;
  border: 1px solid #3a3131;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 gray;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #595959;
  background-image: -webkit-linear-gradient(#595959, #433838);
  background-image: linear-gradient(#595959, #433838);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #322525;
  background-clip: padding-box;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 15px;
}
/* line 131, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #666666;
  cursor: pointer;
  background-color: #4d4d4d;
  background-image: -webkit-linear-gradient(#4d4d4d, #363636);
  background-image: linear-gradient(#4d4d4d, #363636);
}
/* line 147, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #363636;
  box-shadow: inset 0 0 8px 4px #2e2e2e, inset 0 0 8px 4px #2e2e2e;
}
/* line 131, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #666666;
  cursor: pointer;
  background-color: #4d4d4d;
  background-image: -webkit-linear-gradient(#4d4d4d, #3a3131);
  background-image: linear-gradient(#4d4d4d, #3a3131);
}
/* line 147, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #3a3131;
  box-shadow: inset 0 0 8px 4px #312b2b, inset 0 0 8px 4px #312b2b;
}
/* line 51, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 327, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] img {
  height: 12px;
  opacity: .7;
}
@media screen and (min-width: 53.75em) {
  /* line 292, sass/_partials/_navigation.scss */
  header.navigation .search-bar {
    width: 16em;
    position: relative;
    display: inline-block;
  }
  /* line 339, sass/_partials/_navigation.scss */
  header.navigation .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

/* line 350, sass/_partials/_navigation.scss */
.effect6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 356, sass/_partials/_navigation.scss */
.effect6:before, .effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

/* line 4, sass/_partials/_footer.scss */
.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -17em;
}

/* line 11, sass/_partials/_footer.scss */
html, body {
  height: 100%;
}

/* line 15, sass/_partials/_footer.scss */
.footer-2, .push {
  height: 7em;
}

/* line 23, sass/_partials/_footer.scss */
.footer-2 {
  background: #333;
  padding: 2.5em 1.25em 1.25em;
  width: 100%;
}
/* line 32, sass/_partials/_footer.scss */
.footer-2 .footer-logo {
  margin-right: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 32, sass/_partials/_footer.scss */
  .footer-2 .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
/* line 42, sass/_partials/_footer.scss */
.footer-2 #footer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
.footer-2 #footer-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 46, sass/_partials/_footer.scss */
.footer-2 .footer-logo img {
  height: 1.6em;
}
/* line 50, sass/_partials/_footer.scss */
.footer-2 ul {
  margin-bottom: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 50, sass/_partials/_footer.scss */
  .footer-2 ul {
    float: left;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
/* line 59, sass/_partials/_footer.scss */
.footer-2 ul li {
  padding-right: 1em;
  font-weight: 800;
}
@media screen and (min-width: 53.75em) {
  /* line 59, sass/_partials/_footer.scss */
  .footer-2 ul li {
    display: inline;
    text-align: left;
  }
}
/* line 69, sass/_partials/_footer.scss */
.footer-2 ul li a {
  color: rgba(255, 255, 255, 0.4);
}
/* line 72, sass/_partials/_footer.scss */
.footer-2 ul li a:hover {
  color: white;
}
@media screen and (min-width: 53.75em) {
  /* line 77, sass/_partials/_footer.scss */
  .footer-2 .footer-secondary-links {
    float: right;
  }
}
/* line 82, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links li {
  font-size: .8em;
  font-weight: 400;
}
/* line 87, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links ul.footer-social {
  margin-top: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 87, sass/_partials/_footer.scss */
  .footer-2 .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0;
  }
}
/* line 95, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links ul.footer-social li {
  float: left;
  font-size: 1em;
  padding-right: .7em;
}
/* line 100, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}
/* line 105, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links ul.footer-social img {
  opacity: .7;
  height: 1.6em;
  padding: 1px;
}
/* line 110, sass/_partials/_footer.scss */
.footer-2 .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}

/* ============================================================
  SECTIONS
============================================================ */
/* line 4, sass/_partials/_parallax.scss */
section.module:last-child {
  margin-bottom: 0;
}

/* line 7, sass/_partials/_parallax.scss */
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

/* line 12, sass/_partials/_parallax.scss */
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

/* line 17, sass/_partials/_parallax.scss */
section.module p:last-child {
  margin-bottom: 0;
}

/* line 20, sass/_partials/_parallax.scss */
section.module.content {
  padding: 40px 75px;
  background-color: #000;
  color: #fff;
}

/* line 25, sass/_partials/_parallax.scss */
section.module {
  overflow: hidden;
}

/* line 29, sass/_partials/_parallax.scss */
section.module.content2 {
  padding: 0;
}

/* line 32, sass/_partials/_parallax.scss */
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 42, sass/_partials/_parallax.scss */
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 53, sass/_partials/_parallax.scss */
section.module.parallax-1 {
  background-image: url("images/brand/Kellan_Main.jpg");
}

/* line 56, sass/_partials/_parallax.scss */
section.module.parallax-1-am {
  background-image: url("images/brand/am_brand_scroll.jpg");
}

/* line 59, sass/_partials/_parallax.scss */
section.module.parallax-2 {
  background-image: url("images/brand/Brooke_Main.jpg");
}

/* line 62, sass/_partials/_parallax.scss */
section.module.parallax-3 {
  background-image: url("images/brand/ONE_BXWD_main.jpg");
}

/* line 65, sass/_partials/_parallax.scss */
section.module.parallax-4 {
  background-image: url("images/brand/pasion_main.jpg");
}

/* line 68, sass/_partials/_parallax.scss */
section.module.parallax-4-pt {
  background-image: url("images/brand/pasion_scroll.jpg");
}

/* line 72, sass/_partials/_parallax.scss */
div.home_container, div.home_container_onebxwd {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  text-align: center;
}
/* line 78, sass/_partials/_parallax.scss */
div.home_container img, div.home_container_onebxwd img {
  margin: 50px auto 0;
}

/* line 86, sass/_partials/_parallax.scss */
div.home_container_onebxwd img {
  margin: 0px auto 0;
}

/* line 91, sass/_partials/_parallax.scss */
div.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 96, sass/_partials/_parallax.scss */
div.container img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* line 104, sass/_partials/_parallax.scss */
div.empty_container {
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 111, sass/_partials/_parallax.scss */
div.empty_container img {
  margin: 0 auto;
}

/* line 117, sass/_partials/_parallax.scss */
.shadowed {
  -webkit-filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.7));
  filter: url(shadow.svg#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
  transition: 0.75s;
}

/* line 126, sass/_partials/_parallax.scss */
section.module_brand.content_brand {
  background-color: #fff;
  color: #000;
  margin-bottom: 0;
}

/* line 133, sass/_partials/_parallax.scss */
div.brand-content-wrapper {
  height: 200px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.75em;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
div.brand-content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 138, sass/_partials/_parallax.scss */
section.module.parallax_brand {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 150, sass/_partials/_parallax.scss */
div.abbot_top p {
  margin-bottom: 0;
  padding: 0.5em 2.0em 0.5em;
}
/* line 154, sass/_partials/_parallax.scss */
div.abbot_top p:last-child {
  padding: 0.5em 2.0em 2.0em;
}

@media all and (min-width: 600px) {
  /* line 160, sass/_partials/_parallax.scss */
  section.module h2 {
    font-size: 42px;
  }

  /* line 163, sass/_partials/_parallax.scss */
  section.module p {
    font-size: 20px;
  }

  /* line 166, sass/_partials/_parallax.scss */
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  /* line 171, sass/_partials/_parallax.scss */
  section.module.parallax h1 {
    font-size: 160px;
  }
}
/* line 1, sass/_partials/_header.scss */
body {
  background: url("images/ajax-loading.gif") no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 9, sass/_partials/_header.scss */
header {
  width: 100%;
}
/* line 12, sass/_partials/_header.scss */
header #logo_box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  padding: 0.9em 2.0em 0.6em;
}
/* line 85, sass/neat/grid/_span-columns.scss */
header #logo_box:last-child {
  margin-right: 0;
}
/* line 16, sass/_partials/_header.scss */
header #logo_box img {
  width: 100%;
  height: auto;
}

/* line 1, sass/_partials/_common.scss */
.right {
  float: right;
}

/* line 2, sass/_partials/_common.scss */
.left {
  float: left;
}

/* line 7, sass/_partials/_common.scss */
.brand-info-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5em;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
.brand-info-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, sass/_partials/_common.scss */
.brand-info-container .brand-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
}
/* line 85, sass/neat/grid/_span-columns.scss */
.brand-info-container .brand-info:last-child {
  margin-right: 0;
}
/* line 13, sass/_partials/_common.scss */
.brand-info-container .brand-info a {
  color: #000;
}
/* line 15, sass/_partials/_common.scss */
.brand-info-container .brand-info a:hover {
  color: #c41200;
}
