$medium-screen: em(640);


.brand-container{
  @include omega;
  width:100%;
  @include clearfix;
}


.hover-tile-outer {
  $hover-tile-height: 30em;

  background-size: cover;
  background-position: bottom;
  background-color: $base-accent-color;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;
  margin: 0;
  
  @include media($medium-screen) {
    width:33.32%;
    margin-right:0;
    float:left;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 200;  
    padding-top: 1.5em;
    text-align: center;
    display:table;
  }

  .hover-logo{
    display:table-cell;
    vertical-align: middle;
  }

  .hover-tile-hidden {
    background: transparentize(black, .5);
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }
}

.abbot_overview{
  background: url("images/am_brand_ov.jpg");
}
.onebxwd_overview{
  background: url("images/bxwd_city_bo.jpg");
}
.dg_overview{
  background: url("images/dg_brand_ov.jpg");
}
.pasion_overview{
  background: url("images/pasion_brand_ov.jpg");
}
.caelum_overview{
  background: url("images/caelum_brand_ov.jpg");
}


