.right{float:right}
.left{float:left}

.brand-info-container{
	@include outer-container;
		margin: 0 auto 4.5em; 
		padding-top:4.5em;
	.brand-info{
		margin: 0 auto;
		img{
			width:100%;
			height: auto;
			max-width: 50%;
		}
		a{
			color:#666;
			&:hover{
				color:#c41200;
			}
		}
		svg{
			width:100%;
			height: auto;
			@include media ($phone){
				width:80%;
			}
		}
	}
}

.wpgmaps_directions_outer_div{
	padding-left:20px;
	padding-right:20px;
}

.empty_container.story{
	position:fixed;
	z-index:100;
	width:100%;
	max-height:500px;
	img{
		margin-top: 10%;
		@include media ($tablet){
			margin-top:20%;
		}
		@include media ($mobile){
			margin-top:30%;
		}
		@include media ($phone){
			margin-top:40%;
		}
	}
	@include media ($tablet){
		position:relative;
		margin-top:2%;
	}
}

svg#Layer_1{
    path{
    	fill:#666;
    }
}

svg#brander{
    path{
    	fill:#666;
    }
}

.story_img img{
	margin-bottom: -6px!important;
}
