.right{float:right}
.left{float:left}

#main{
	// padding-top:96px;
}
.brand-info-container{
	@include outer-container;
		margin-bottom: 2.5em;
	.brand-info{
		@include span-columns(4);
		@include shift(4);
		a{
			color:#000;
			&:hover{
				color:#c41200;
			}
		}
	}
}