body{
	background: url("images/ajax-loading.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}


header{
	#logo_box{
		@include span-columns(3);
		padding:1.5em;
		img{
			width:100%;
			height:auto;
		}
	}
	.navigation-wrapper{
		@include span-columns(9);
	}
}