body{
	background: url("images/ajax-loading.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}


header{
	#logo_box{
		width:30%;
		position: absolute;
		padding: 1.5em 1.0em;
		background-color: #222222;
		left: 50%;
		margin-left: -15%;
		-webkit-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
		box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.75);
		img{
			width:100%;
			height:auto;
		}
	}
}